#{{ ansible_managed }}
global
  log {{ haproxy_global_log_socket }}:514 {{ haproxy_global_log_facility }} {{ haproxy_global_log_level }}
  chroot {{ haproxy_global_chroot }}

  user {{ haproxy_global_user }}
  group {{ haproxy_global_group }}
  daemon

  {% if haproxy_global_stats_socket -%}
  stats socket {{ haproxy_global_stats_socket }}
  stats timeout {{ haproxy_global_stats_timeout }}
  {% endif %}

  # SSL
  ca-base {{ haproxy_global_ca_base }}
  crt-base {{ haproxy_global_crt_base }}
  # Default ciphers to use on SSL-enabled listening sockets.
  # For more information, see ciphers(1SSL). This list is from:
  #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
  ssl-default-bind-ciphers {{ haproxy_global_ssl_default_bind_ciphers }}
  ssl-default-bind-options {{ haproxy_global_ssl_default_bind_options }}
  ssl-default-server-ciphers {{ haproxy_global_ssl_default_server_ciphers }}
  ssl-default-server-options {{ haproxy_global_ssl_default_server_options }}

defaults
  log {{ haproxy_defaults_log }}
  unique-id-format {{ haproxy_defaults_unique_id_format }}
  unique-id-header {{ haproxy_defaults_unique_id_header }}
  mode {{ haproxy_default_mode }}
  {% for option in haproxy_default_options -%}
  option  {{ option }}
  {% endfor -%}
  {% for timeout in haproxy_defaults_timeouts -%}
  timeout {{ timeout }}
  {% endfor -%}
  {% for errorfile in haproxy_defaults_errorfiles -%}
  errorfile {{ errorfile }}
  {% endfor %}

###########################
# Listen Definition
###########################
{% for listen in haproxy_listen_instances %}
{% if listen is defined %}
listen {{ listen.name }}
{%   for key, value in listen.items() if key != "name" %}
{%     if listen[key] == [] %}
  {{ key }}
{%     elif listen[key] is string %}
  {{ key }} {{ value }}
{%     elif listen[key] is iterable and listen[key] is not mapping %}
{%       for i in listen[key] %}
  {{ key }} {{ i }}
{%       endfor %}
{%     endif %}
{%   endfor %}
# end listen {{ listen.name }}
{% endif %}

{% endfor %}
###########################
# Frontend Definition
###########################
{% if haproxy_certbot_frontend %}
{% if haproxy_frontend_certbot.name is defined %}
frontend {{ haproxy_frontend_certbot.name }}
{%   for key, value in haproxy_frontend_certbot.items() if key != "name" %}
{%     if haproxy_frontend_certbot[key] == [] %}
  {{ key }}
{%     elif haproxy_frontend_certbot[key] is string %}
  {{ key }} {{ value }}
{%     elif haproxy_frontend_certbot[key] is iterable and haproxy_frontend_certbot[key] is not mapping %}
{%       for i in haproxy_frontend_certbot[key] %}
  {{ key }} {{ i }}
{%       endfor %}
{%     endif %}
{%   endfor %}
# end frontend {{ haproxy_frontend_certbot.name }}
{% endif %}
{% endif %}

{% for frontend in haproxy_frontend_instances %}
{% if frontend.name is defined %}
frontend {{ frontend.name }}
{%   for key, value in frontend.items() if key != "name" %}
{%     if frontend[key] == [] %}
  {{ key }}
{%     elif frontend[key] is string %}
  {{ key }} {{ value }}
{%     elif frontend[key] is iterable and frontend[key] is not mapping %}
{%       for i in frontend[key] %}
  {{ key }} {{ i }}
{%       endfor %}
{%     endif %}
{%   endfor %}
# end frontend {{ frontend.name }}
{% endif %}

{% endfor %}
###########################
# Backend Definition
###########################
{% if haproxy_certbot_frontend %}
{% if haproxy_certbot_backend.name is defined %}
backend {{ haproxy_certbot_backend.name }}
{%   for key, value in haproxy_certbot_backend.items() if key != "name" %}
{%     if haproxy_certbot_backend[key] == [] %}
  {{ key }}
{%     elif haproxy_certbot_backend[key] is string %}
  {{ key }} {{ value }}
{%     elif haproxy_certbot_backend[key] is iterable and haproxy_certbot_backend[key] is not mapping %}
{%       for i in haproxy_certbot_backend[key] %}
  {{ key }} {{ i }}
{%       endfor %}
{%     endif %}
{%   endfor %}
# end backend {{ haproxy_certbot_backend.name }}
{% endif %}
{% endif %}

{% for backend in haproxy_backend_instances %}
{% if backend.name is defined %}
backend {{ backend.name }}
{%   for key, value in backend.items() if key != "name" %}
{%     if backend[key] == [] %}
  {{ key }}
{%     elif backend[key] is string %}
  {{ key }} {{ value }}
{%     elif backend[key] is iterable and backend[key] is not mapping %}
{%       for i in backend[key] %}
  {{ key }} {{ i }}
{%       endfor %}
{%     endif %}
{%   endfor %}
# end backend {{ backend.name }}
{% endif %}

{% endfor %}
